{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Home Page</title>
    <style>
        .card-img-top {
               object-fit: cover;
               height: 200px; /* Set the desired height */
               width: 100%; /* Maintain aspect ratio */
           } 
           </style>
</head>
<body>
    {% include 'header.html' %}
   
      <table class="table mt-5">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">DETAILS</th>
                <th scope="col">IMAGE</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for products in prod %}
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{products.name}}</td>
                <td>{{products.description}}</td>
                <td>
                    <img src='/media/{{products.image}}' style="height: 200px;" class="img-fluid" alt="{{products.name}}">
                </td>
                <td>
                    <a href="/delete-car/{{products.id}}/" class='btn btn-danger'>Delete</a>
                    <a href="/update-car/{{products.id}}/" class='btn btn-success'>Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- addproduct.html -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>

<!-- Display products -->
{% for product in prod %}
    {{ product.name }} - {{ product.description }} - {{ product.price }}
    <!-- Add other fields as needed -->
{% endfor %}

    
      {% include "footer.html" %}
    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>