{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <style>
        .card-img-top {
            object-fit: cover;
            height: 100px; /* Set the desired height */
            width: 100px; /* Maintain aspect ratio */
        }
        /* Adjust table width */
        .custom-table {
            width: 80%; /* 40% left and 40% right */
            margin: 0 auto; /* Center the table */
        }
        /* Align buttons in table cell */
        .table-action-btns {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 p-2 m-2">
                <h4 class="text-center p-2 m-2">PRODUCT LISTING</h4>
                <div class="card border border-dark">
                    <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-lg-6">
                                        {{ form.image|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form.name|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form.category|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-6">
                                        {{ form.price|as_crispy_field }}
                                    </div>
                                    <div class="col-lg-12">
                                        {{ form.description|as_crispy_field }}
                                    </div>
                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-outline-primary rounded-pill">ADD PRODUCT</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table mt-4 custom-table">
        <thead>
            <tr>
                <th scope="col">SR.NO</th>
                <th scope="col">IMAGE</th>
                <th scope="col">NAME</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col" class="text-center">ACTION</th>
            </tr>
        </thead>
        <tbody>
            {% for product in prod %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <img class="card-img-top custom-image-size" src='/media/{{ product.image }}' alt="Card image cap">
                </td>
                <td>
                    <h5 class="card-title">{{ product.name }}</h5>
                </td>
                <td>
                    <p class="card-text">{{ product.description }}</p>
                </td>
                <td class="table-action-btns">
                    <a href="/delete-car/{{ product.id }}/" class='btn btn-danger rounded-pill'>Delete</a>
                    <a href="/update-car/{{ product.id }}/" class='btn btn-success rounded-pill'>Update</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include "footer.html" %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/fontawesome.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
