{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <title>Home Page</title>
    <style>
        body {
            background-color: whitesmoke;
        }
        .card-img-top {
            object-fit: cover;
            height: 200px; /* Set the desired height */
            width: 100%; /* Maintain aspect ratio */
        }
        .card-body {
            height: 150px; /* Adjust to provide enough space for the button */
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container mt-4 p-5">
        <input type="text" id="searchInput" class="form-control mb-4" placeholder="Search products...">

        <div class="row justify-content-center" id="productContainer">

            {% for product in cosacc %}
            <div class="col-md-3 mb-4 product-card" data-name="{{ product.name }}">

                <div class="card">
                    <img src="/media/{{ product.image }}" class="card-img-top" alt="Card Image">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.price }}</p>
                        <a href="{% url 'add_to_cart' product.id %}" class="btn btn-primary rounded-pill rounded-pill">ADD CART</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include "footer.html" %}

        <!-- jQuery and custom JavaScript for search functionality -->
        <script>
            $(document).ready(function() {
                $('#searchInput').on('keyup', function() {
                    var value = $(this).val().toLowerCase(); // Get the value of the input, convert to lowercase
                    $('.product-card').filter(function() { // Filter product cards
                        $(this).toggle($(this).data('name').toLowerCase().indexOf(value) > -1); // Toggle visibility based on search input
                    });
                });
            });
        </script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
    
    
        <!-- Bootstrap JS and other dependencies -->
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <script src="{% static 'js/fontawesome.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
</body>
