{% load static %}
<style>
  .cart-icon-container {
    position: relative;
    display: inline-block;
}

.cart-image {
    width: 40px; /* Adjust based on your image size */
    height: 40px; /* Adjust based on your image size */
}

.badge {
    position: absolute;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 0.3em 0.6em; /* Adjust padding for fit */
    border-radius: 50%;
    background-color: #00050a; /* Customize background color */
    color: #fff; /* Customize text color */
    font-size: 0.6em; /* Adjust font size if needed */
    text-align: center;
    line-height: 1; /* Ensures vertical alignment */
}

</style>
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'home' %}">Luxmart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if request.user.is_superuser or request.user.user_type.type_name == "Admin" %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'userlist' %}">Userlist</a>
      </li>
      {% endif %}
        <li class="nav-item">
        {% if request.user.is_superuser or request.user.user_type.type_name == "Admin" %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'addproduct' %}">Add new Product</a>
        </li>
        {% endif %}
      
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Category
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <a class="dropdown-item" href="{% url 'menproductlist' %}">Men</a>
            <a class="dropdown-item" href="{% url 'womenproductlist' %}">Women</a>   
            <a class="dropdown-item" href="{% url 'cosaccess' %}">Accessories & Cosmetics</a>

          </div>
        </li>
      </ul>
      
      <ul class="navbar-nav ml-auto">
        <!-- Profile Icon (you can replace 'profile-icon.png' with your icon) -->
        <li class="nav-item">
          {% if request.user.is_authenticated %}
              <a class="nav-link" href="{% url 'view_profile' %}">
                  {% if request.user.profile_image %}
                      <img src="{{ request.user.profile_image.url }}" alt="Profile" style="width: 30px; height: 30px;">
                  {% else %}
                      <img src="{% static 'images/p.jpg' %}" alt="Profile" style="width: 30px; height: 30px;">
                  {% endif %}
              </a>
          {% else %}
              <a class="nav-link" href="{% url 'login' %}"><img src="{% static 'profile-icon.png' %}" alt="Profile" style="width: 30px; height: 30px;"></a>
          {% endif %}
      </li>
      

        <!-- Cart Icon (you can replace 'cart-icon.png' with your icon) -->
        
      <li class="nav-item">
        {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'view_cart' %}">
            <div class="cart-icon-container">
              <img src="{% static 'images/o.png' %}" alt="Cart" class="cart-image">
              {% if request.user.cart_item_count %}
                <span class="badge">{{ request.user.cart_item_count }}</span>
              {% endif %}
            </div>
          </a>
        {% else %}
          <a class="nav-link" href="{% url 'login' %}"><img src="{% static 'profile-icon.png' %}" alt="Profile" style="width: 30px; height: 30px;"></a>
        {% endif %}
      </li>


      
      
      
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </li>
        
        
        <!-- Search Bar -->
        
      
      </ul>
    </div>
</nav>
