{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UPDATE PRODUCT PAGE</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Bootstrap CSS -->
 
    <style>
        .Productd {
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
        }
        .Productd:hover {
            transform: translateY(-5px);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="col-lg-6 p-2 m-2">
                <h4 class="text-center p-2 m-2">PRODUCT UPDATE</h4>
                    <div class="container">
                        <form class="col-6 mx-auto Productd p-3 shadow-lg" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h2 class="text-center mb-4">Update Product Details</h2>
                            <hr>
                            <div class="form-group">
                                <label for="Product_name" class="form-label">Product Name</label>
                                <input id="Product_name" name="Product_name" value="{{ Products.Product_name }}" required type="text" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="Product_details" class="form-label">Product Description</label>
                                <textarea id="Product_details" name="Product_details" required class="form-control">{{ Products.Product_details }}</textarea>
                            </div>
                            <div class="form-group">
                                <label for="Product_image" class="form-label">Product Image</label>
                                <input id="Product_image" name="Product_image" value="{{ Products.Product_image }}" required type="file" class="form-control">
                                {% if Products.Product_image %}
                                    <label><a href="{{ Products.Product_image.url }}" target="_blank">View Image</a></label>
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-success btn-block">Update Product Details</button>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</body>